.cwpai-helper {
    & #wpcontent,
    &.auto-fold #wpcontent {
        padding-left: 0;
    }

    & .cwpai-helper-layout {
        & .cwpai-helper-layout-body {
            max-width: 800px;
            margin: 0 auto;
        }

        & img {
            width: 100%;
        }
    }
}
