.codewpai {
    & #wpcontent,
    &.auto-fold #wpcontent {
        padding-left: 0;
    }

    & .codewpai-layout {
        & .codewpai-layout-body {
            max-width: 800px;
            margin: 0 auto;
        }

        & img {
            width: 100%;
        }
    }
}
