.codewpai-layout {
    .wp-list-table {
        td:first-child {
            width: 100%;
        }
        td {
            vertical-align: middle;
        }
    }

    .snippet_enabled {
        background-color: #e8fbea;
    }
    .snippet_disabled {
        background-color: #eeeeee;
    }
    .snippet_not_installed td {
        color: #8d8d8d;
    }
}



